.eyeButton {
  position: absolute;
  right: 12px;
  background: none;
  border: none;
  cursor: pointer;
  color: #d5d2d2;
  z-index: 2;
  top: 28px; // 기본 (라벨이 있는 경우)
}

.noLabelWrapper .eyeButton {
  top: 12px; // 라벨이 없을 때 높이를 맞춤
}
