.SignUpOption {
    font-size: 20px;
    white-space: nowrap;
    margin: 60px auto;
    width: 100vw;

    .SignupTitle {
        text-align: center;
        font-size: 30px;
    }

    .OptionBlock {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        gap: 20px;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            outline: 1px solid black;
            border-radius: 10px;
            height: 50vh;
            width: 30vw;

            img {
                object-fit: cover;
            }

            p {
                font-size: 1.5em;
                margin-top: 60px;
                text-align: center;
            }
        }
    }
}

.cardone {
  width: 100vw;
  height: 250px;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #333;
  border-radius: 40px;
  cursor: pointer;
  position: relative;
  transition: all 0.7s ease-in-out;
  overflow: hidden;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    height: 30%;
    width: 100%;
    background-color: #000000;
    bottom: 0;
    right: 0;
    transform: translateY(70px);
    border-radius: 100%;
    transition: all 0.7s ease-in-out;
  }

  .txt {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  &:hover {
    color: #f3f3f3;

    &::before {
      transform: scale(7) translate(-20px);
    }
  }
}

.cardtwo {
  width: 100vw;
  height: 250px;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #333333;
  border-radius: 40px;
  cursor: pointer;
  position: relative;
  transition: all 0.7s ease-in-out;
  overflow: hidden;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    height: 30%;
    width: 100%;
    background-color: #00aeff;
    bottom: 0;
    right: 0;
    transform: translateY(70px);
    border-radius: 100%;
    transition: all 0.7s ease-in-out;
  }

  .txt {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  &:hover {
    color: #f3f3f3;

    &::before {
      transform: scale(7) translate(-20px);
    }
  }
}
