.withdrawalForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.withdrawalDescription {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 50px;
}

.withdrawalButton {
  --bg: #000;
  --hover-bg: #ffffff;
  --hover-text: #000;

  color: #fff;
  cursor: pointer;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
  width: 70%;

  &:hover {
    color: var(--hover-text);
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
  }

  &:active {
    transform: translate(0);
    box-shadow: none;
  }
}
