$primary_font: rgb(0, 0, 0);
$background: rgb(255, 255, 230);
$border: rgb(40, 40, 40);

$footer-background: rgb(252, 208, 120);
$footer-font_color: rgb(255, 255, 255);

$header-background_color: rgb(255, 255, 255);
$header-font_color: rgb(0, 0, 0);

$positive-button-color: rgb(78, 177, 76);
$positive-button-hover-color: rgb(26, 190, 23);

$default-button-color: rgb(255, 255, 255);
$default-button-hover-color: rgb(0, 0, 0);

$negative-button-color: rgb(218, 52, 52);
$negative-button-hover-color: rgb(203, 16, 16);

$dropdown-backgroung-color: rgb(40, 40, 40);
$dropdown-text-color: rgb(255, 255, 255);


