$m-body-text: 16px;

$m-title-text: (
  'm-h5-title': 18px,
  'm-h4-title': 19px,
  'm-h3-title': 20px,
  'm-h2-title': 24px,
  'm-h1-title': 28px,
);

$m-button-text: 14px;
$m-caption-text: 12px;

$t-body-text: 18px;
$t-title-text: (
  m-h5-title: 20px,
  m-h4-title: 21px,
  m-h3-title: 22px,
  m-h2-title: 28px,
  m-h1-title: 32px,
);
$t-button-text: 16px;
$t-caption-text: 14px;

$d-body-text: 20px;
$d-title-text: (
  d-h5-title: 22px,
  d-h4-title: 23px,
  d-h3-title: 24px,
  d-h2-title: 32px,
  d-h1-title: 36px,
);
$d-button-text: 18px;
$d-caption-text: 16px;

