$primary_font: rgb(0, 0, 0);
$background: rgb(255, 255, 230);
$border: rgb(40, 40, 40);
$footer-background: rgb(252, 208, 120);
$footer-font_color: rgb(255, 255, 255);
$header-background_color: rgb(255, 255, 255);
$header-font_color: rgb(0, 0, 0);

$positive-button-color: rgb(78, 177, 76);
$positive-button-hover-color: rgb(26, 190, 23);

$default-button-color: rgb(255, 255, 255);
$default-button-hover-color: rgb(0, 0, 0);

$negative-button-color: rgb(218, 52, 52);
$negative-button-hover-color: rgb(203, 16, 16);

$dropdown-backgroung-color: rgb(40, 40, 40);
$dropdown-text-color: rgb(255, 255, 255);

$m-body-text: 16px;

$m-title-text: (
  'm-h5-title': 18px,
  'm-h4-title': 19px,
  'm-h3-title': 20px,
  'm-h2-title': 24px,
  'm-h1-title': 28px,
);

$m-button-text: 14px;
$m-caption-text: 12px;

$t-body-text: 18px;
$t-title-text: (
  m-h5-title: 20px,
  m-h4-title: 21px,
  m-h3-title: 22px,
  m-h2-title: 28px,
  m-h1-title: 32px,
);
$t-button-text: 16px;
$t-caption-text: 14px;

$d-body-text: 20px;

$d-title-text: (
  d-h5-title: 22px,
  d-h4-title: 23px,
  d-h3-title: 24px,
  d-h2-title: 32px,
  d-h1-title: 36px,
);

$d-button-text: 18px;
$d-caption-text: 16px;

$all-button-radius: 5px;

$line-height: 1.5px;
$letter-spacing: 0.02em;

$flex-map: (
  start: flex-start,
  end: flex-end,
  between: space-between,
  around: space-around,
  stretch: stretch,
  center: center,
);




