@use '../base/index.scss' as *;
@use '../components/button';
@use '../components/input';
@use '../../layout/headers/header';

@font-face {
  font-family: 'SobokFont';
  src: url('/GmarketSansLight.otf') format('opentype');
  font-weight: 100; // light
  font-display: swap;
}

@font-face {
  font-family: 'SobokFont';
  src: url('/GmarketSansLight.otf') format('opentype');
  font-weight: 200; // light
  font-display: swap;
}

@font-face {
  font-family: 'SobokFont';
  src: url('/GmarketSansLight.otf') format('opentype');
  font-weight: 300; // light
  font-display: swap;
}

@font-face {
  font-family: 'SobokFont';
  src: url('/GmarketSansMedium.otf') format('opentype');
  font-weight: 400; // normal
  font-display: swap;
}

@font-face {
  font-family: 'SobokFont';
  src: url('/GmarketSansMedium.otf') format('opentype');
  font-weight: 500; // normal
  font-display: swap;
}

@font-face {
  font-family: 'SobokFont';
  src: url('/GmarketSansMedium.otf') format('opentype');
  font-weight: 600; // normal
  font-display: swap;
} 

@font-face {
  font-family: 'SobokFont';
  src: url('/GmarketSansBold.otf') format('opentype');
  font-weight: 700; // bold
  font-display: swap;
}

@font-face {
  font-family: 'SobokFont';
  src: url('/GmarketSansBold.otf') format('opentype');
  font-weight: 800; // bold
  font-display: swap;
}

@font-face {
  font-family: 'SobokFont';
  src: url('/GmarketSansBold.otf') format('opentype');
  font-weight: 900; // bold
  font-display: swap;
}

body,
html,
#root {
  font-family: 'SobokFont', sans-serif;
}
