@use '../base/index.scss' as *;
@use '../components/button';
@use '../components/input';
@use '../../layout/headers/header';

@font-face {
  font-family: 'Font1';
  src: url('/Font1.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Font2';
  src: url('/Font2.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Font3';
  src: url('/Font3.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Font4';
  src: url('/Font4.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body,
html,
#root {
  font-family: 'Font1', 'Font2', 'Font3', 'Font4', sans-serif;
}
