.RiderPasswordModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 25px;
  }

  .input {
    width: 80%;
    margin-bottom: 20px;
  }

  .error {
    color: rgb(238, 5, 5);
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 12px;
  }

  .buttonGroup {
    display: flex;
    gap: 23px;
  }

  .button {
    padding: 8px 24px;
    border: none;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s;
  }

  .button.cancel {
    background-color: rgb(240, 8, 8);
    color: white;
  }
  .button.cancel:hover:not(:disabled) {
    background-color: rgb(255, 0, 0);
  }

  .button.submit {
    background-color: rgb(45, 204, 10);
    color: white;
  }
  .button.submit:hover:not(:disabled) {
    background-color: rgb(53, 255, 10);
  }
  .button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}
