.HubRegisterPage {
  width: 100vw;
  padding: 20px 170px;
  margin: 50px auto;
  line-height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .hubregistertitle {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 50px auto;
  }
  span {
    color: red;
  }
}

.idselection {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginIdinput {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.idinput {
  flex: 1;
  padding: 0.875rem;
  font-size: 1rem;
  border: 1.5px solid #000;
  border-radius: 50px;
  box-shadow: 2.5px 3px 0 #000;
  outline: none;
  transition: ease 0.25s;
  width: 40vw;
  margin-bottom: 30px;
  min-height: 30px;

  &:focus {
    box-shadow: 5.5px 7px 0 black;
  }
}

.idcheckbutton,
.phonenumberbutton,
.phoneNumbervaildbutton,
.addrbutton,
.addrcheckbutton {
  --bg: #000;
  --hover-bg: #ffffff;
  --hover-text: #000;

  color: #fff;
  cursor: pointer;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
  height: 40px;

  &:hover {
    color: var(--hover-text);
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
  }

  &:active {
    transform: translate(0);
    box-shadow: none;
  }
}

.idtitle {
  font-weight: bold;
}

.corretshopname {
  margin-top: -30px;
  color: rgb(30, 180, 10);
  font-size: 13px;
  font-weight: bold;
}

.notshopname {
  margin-top: -30px;
  color: rgb(180, 10, 10);
  font-size: 13px;
  font-weight: bold;
}

.ownernameselection,
.passwordselection,
.passwordconfirmselection,
.phoneNumberSelection {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ownerNametitle,
.passwordtitle,
.passwordConfirmtitle,
.phonenumbertitle,
.passwordValidationtitle,
.addrtitle {
  font-weight: bold;
}

.ownerinput,
.passwordinput,
.passwordConfirminput,
.phoneNumberinput,
.phoneNumbervaildinput,
.addressinput,
.addrvaildinput {
  flex: 1;
  padding: 0.875rem;
  font-size: 1rem;
  border: 1.5px solid #000;
  border-radius: 50px;
  box-shadow: 2.5px 3px 0 #000;
  outline: none;
  transition: ease 0.25s;
  width: 50vw;
  margin-bottom: 30px;
  min-height: 30px;

  &:focus {
    box-shadow: 5.5px 7px 0 black;
  }
}

.phoneinput,
.passwordconfirmselection {
  display: flex;
  gap: 10px;
}

.phoneinput {
    margin-top: -10px;
    display: flex;
    align-items: center;
}

.addrinput {
    display: flex;
    gap: 10px;
}

.submitbutton {
  position: relative;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  transition: all 0.2s ease;
  width: 60vw;
  

  &:active {
    transform: scale(0.96);
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
  }

  &:hover {
    &::before {
      top: -70%;
      background-image: 
        radial-gradient(circle, #000000 20%, transparent 20%),
        radial-gradient(circle, transparent 20%, #000000 20%, transparent 30%),
        radial-gradient(circle, #000000 20%, transparent 20%),
        radial-gradient(circle, #000000 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, #000000 15%, transparent 20%),
        radial-gradient(circle, #000000 20%, transparent 20%),
        radial-gradient(circle, #000000 20%, transparent 20%),
        radial-gradient(circle, #000000 20%, transparent 20%),
        radial-gradient(circle, #000000 20%, transparent 20%);
      background-size: 
        10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%,
        10% 10%, 15% 15%, 10% 10%, 18% 18%;
      background-position: 50% 120%;
      animation: greentopBubbles 0.6s ease;
    }

    &::after {
      bottom: -70%;
      background-image: 
        radial-gradient(circle, #000000 20%, transparent 20%),
        radial-gradient(circle, #000000 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, #000000 15%, transparent 20%),
        radial-gradient(circle, #000000 20%, transparent 20%),
        radial-gradient(circle, #000000 20%, transparent 20%),
        radial-gradient(circle, #000000 20%, transparent 20%),
        radial-gradient(circle, #000000 20%, transparent 20%);
      background-size: 
        15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
      background-position: 50% 0%;
      animation: greenbottomBubbles 0.6s ease;
    }
  }
}

@keyframes greentopBubbles {
  0% {
    background-position: 
      5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 
      25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 
      0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 
      22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 
      0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 
      22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 
      0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 
      10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 
      70% -10%, 70% 0%;
  }
  50% {
    background-position: 
      0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 
      95% 60%, 105% 0%;
  }
  100% {
    background-position: 
      0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 
      95% 70%, 110% 10%;
    background-size: 
      0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

