.phoneWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  // gap: 24px;
}

.inputWithButton {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.inputButtonGroup {
  display: flex;
  align-items: flex-end;
  gap: 12px;
  // width: 100%;
  margin-bottom: 0px;
}

.inputButtonGroup input {
  flex: 1;
}

.inputButtonGroup button {
  white-space: nowrap;
  min-width: 80px;
}



.verifynumberbutton {
  transition: all 0.3s ease-in-out;
  width: 110px;
  height: 35px;
  border-radius: 50px;
  box-shadow: 0 10px 30px -20px rgba(0, 0, 0, 0.5);
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 18px;
  color: rgba(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0);

  &:hover {
    transform: translateY(3px);
    box-shadow: none;
    background-color: rgb(55, 240, 10);
    border: none;
    color: rgba(0, 0, 0);
  }

  &:active {
    opacity: 0.5;
  }
}

.checkbuttonnumber {
  transition: all 0.3s ease-in-out;
  width: 110px;
  height: 35px;
  border-radius: 50px;
  box-shadow: 0 10px 30px -20px rgba(0, 0, 0, 0.5);
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 18px;
  color: rgba(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0);

  &:hover {
    transform: translateY(3px);
    box-shadow: none;
  }

  &:active {
    opacity: 0.5;
  }
}

.timerText {
  min-width: 80px;
  text-align: center;
  font-weight: bold;
  padding: 0.8em 2em;
  border: 1.5px solid #000;
  border-radius: 50px;
  background: #fff;
  color: #000;
  box-shadow: 2.5px 3px 0 #000;
  font-size: 1rem;
  margin-left: 8px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
