@use '../base/index' as *;

.button {
  @include button-set($default-button-color, $all-button-radius){
    
  };
  cursor: pointer;
  color: $primary_font;
  padding: 10px 20px;
  white-space: nowrap;
  font-size: $d-button-text;
  letter-spacing: $letter-spacing;

  &:hover {
    @include button-hover($default-button-hover-color, $all-button-radius);
    color: rgb(255, 255, 255);
  }
}

.button_POSITIVE {
  @include positive-button-set($positive-button-color, $all-button-radius);
  white-space: nowrap;
  padding: 10px 20px;
  color: $primary_font;
  font-size: $d-button-text;
  letter-spacing: $letter-spacing;
  cursor: pointer;

  &:hover {
    @include positive-button-hover($positive-button-hover-color, $all-button-radius);
  }
}

.button_NEGATIVE {
    @include negative-button-set($negative-button-color, $all-button-radius);
    white-space: nowrap;
    padding: 10px 20px;
    color: $primary_font;
    font-size: $d-button-text;
    letter-spacing: $letter-spacing;
    cursor: pointer;

    &:hover {
        @include negative-button-hover($negative-button-hover-color, $all-button-radius);
    }
}


.button_BASIC {
  cursor: pointer;
  width: 102px;
  height: 35px;
  padding: 0 16px;
  font-size: $d-button-text;
  font-weight: 600;
  white-space: nowrap;
  letter-spacing: $letter-spacing;
  color: black;
  transition: all 0.3s;
  border-radius: 50px;
  background-color: rgb(224, 224, 224);
  color: rgb(0, 0, 0);
  border: 1px solid black;
  align-items: center;
  align-content: center;

  &:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}   

.button_BASIC_SMALL {
  @extend .button_BASIC;
  padding: 0px 15px;
  font-size: 13px;
  margin-top: 7px;
  font-size: 15px;
   
  &:hover {
    background-color: inherit;
    color: inherit;
    border-color: inherit;
  }
}

.wide {
  @extend .button_BASIC;
  min-width: 50%; 
  background-color: black;
  color: white;
  height: 40px; 
  justify-content: center;
}

.confirm {
  @extend .button_BASIC;
  width: 100%;
  align-items: center;
  margin-top: 10px;
}
