.container {
  margin-bottom: 16px;
}

.label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.inputRow {
  display: flex;
  gap: 8px;
  align-items: center;
}

.input {
  flex: 1;
  padding: 0.875rem;
  font-size: 1rem;
  border: 1.5px solid #000;
  border-radius: 50px;
  box-shadow: 2.5px 3px 0 #000;
  outline: none;
  transition: ease 0.25s;

  &:focus {
    box-shadow: 5.5px 7px 0 black;
  }
}

.button {
  --bg: #000;
  --hover-bg: #ffffff;
  --hover-text: #000;

  color: #fff;
  cursor: pointer;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;

  &:hover {
    color: var(--hover-text);
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
  }

  &:active {
    transform: translate(0);
    box-shadow: none;
  }
}

.success {
  color: green;
  margin-top: 5px;
  font-size: 13px;
}

.error {
  color: red;
  margin-top: 5px;
  font-size: 13px;
}
