.myOrderPage {
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;

.title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}
  .noOrders{
    text-align: center;
    font-size: 18px;
    color: #888;
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .loadMoreButton {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    padding: 1rem 0;
  }
}
