.container {
  width: 120%;
  box-sizing: border-box;
  max-height: 60vh;             
  overflow-y: auto;
  padding: 11px 16px;
  border: 1px solid #000;
  border-radius: 10px;
  overscroll-behavior: contain;
  margin-top: 45px;
}

.tiptap {
  width: 100%;
  line-height: 1.6;
  word-break: break-word;
}
