.container {
  width: 120%;
  overflow-y: auto; 
  border: 1px solid black;
  border-radius: 10px;
  box-sizing: border-box;
}

.tiptap {
  width: 100%;
  line-height: 1.6;
  word-break: break-word;
}
