.Footer {
  width: 100vw;
  text-align: center;
  border-top: 1px solid rgb(0, 0, 0);
  height: 5vh;
  

}

.logoimg {
    height: 120px;
    object-fit: cover;
    cursor: pointer;
}

.copyright {
    text-align: center;
    

    .copyrightword {
        font-size : 12px;
        font-weight: 600;
        white-space: nowrap;
        margin-bottom: 30px;
    }
}

.subfooter {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 15px;
}
