.passwordWrapper {
  text-align: left;
  width: 100%;
}

.inputHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 14px; 
}

.inputButtonGroup {
  position: relative;

  button {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #d5d2d2;
  }
}
